<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
      <div class="col-xl-4 col-md-6 col-xs-10 col-xl-offset-4 col-md-offset-3 col-xs-offset-1">
        <h5 class="widget-login-logo animated fadeInUp">
          <i class="fa fa-circle text-gray"></i>
          Welcome
          <i class="fa fa-circle text-warning"></i>
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login</h3>
          </header>
          <div class="widget-body">
            <p class="widget-login-info">
              Use Facebook, Twitter or your email to sign in.
            </p>
            <p class="widget-login-info">
              Don't have an account? Sign up now!
            </p>

 
            <form class="login-form mt-lg text-xs-center ">
              <div class="form-group">
                <button class="btn btn-secondary width-200 mb-xs" role="button" (click)="FbLogin()">
                  <i class="fa fa-facebook text-primary"></i>
                  Login with facebook
                </button>
              </div>
              <div class="form-group">
                <a class="btn btn-secondary width-200 mb-xs" role="button" [routerLink]="['/login'] ">
                  <i class="fa fa-envelope text-primary"></i>
                  Login with Email
                </a>
              </div> 
              
              <div class="clearfix">
                <div class="btn-toolbar m-t-1">
                  <button type="button" class="btn btn-secondary width-200 btn-sm">Create an Account</button> 
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6">
                  <a class="mr-n-lg" href="#">Trouble with account?</a>
                </div>
              </div> 
            </form>
          </div>
        </section>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    2015 &copy; Sing. Admin Dashboard Template.
  </footer>
</div>
